.App{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.container{
  display: flex;
  border: 2px solid grey;
  height: 80vh;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
}

.todoform{
  display: flex;
  justify-content: space-around;
  width: 450px;
}

input{
  border: none;
  border-radius: 20px;
  padding: 10px;
  width:80%;
}

button{
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.alllist{
  list-style: none;
  padding: 0;
  margin: 0;
}

.singlelist{
  border-radius: 50px;
  margin: 10px 0;
  background-color: #5d8df8;
  padding: 10 20px;
  display: flex;
  width: 450px;
  align-items: center;
}
.todotext{
  flex: 1;
  padding: 10px;
}
